/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  /* Remova o min-width */
  border-radius: 0%;;
}

body {
  background-color: #f9fafb;
  color: #333;
  overflow-x: hidden; /* previne quebra lateral */
}

/* Remova isso do componente de categorias */
.container {
  display: block; /* ou flex apenas onde for necessário */
}

.search-page {
  background-color: #FFFFFF;
}


/* Links */
a {
  color: black;
  text-decoration: none;
}

.matricular-btn {
  background-color: #1f2f5d;
  color: white;
  padding: 6px 12px;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.matricular-btn:hover {
  background-color: #16305c;
}

.cancelar-btn {
  background-color: #dc2626;
  color: white;
  padding: 6px 12px;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.cancelar-btn:hover {
  background-color: #b91c1c;
}


/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Header da busca */
.search-header {
  text-align: center;
  padding: 2rem 1rem;
}

.search-header input {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 90%;
}

.search-header button {
  padding: 0.7rem 1.2rem;
  background-color: #002248;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* melhor que space-between para cards */
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

/* Título principal */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p{
    margin-bottom: auto;
}
